<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Подключение к сайту</h1>
<p> {{ a }}</p>
<div>
    <table>
        <tr>
            <th> dir </th>
            <th> {{date}}</th>

        </tr>
        {% for file in files %}
        <tr>
            <td>
<!--                 Скачиваем файл-->
                <a href="/dir/{{ date }}/{{ file }}" >{{ file }}</a>
<!--                <a href="#" target="_blank" download>{{ file }}</a>-->
            </td>
        </tr>
        {% endfor %}
    </table>

</div>

</body>
</html>